<%= _.template(require('./../includes/header.html'))() %>

      <main class="main">
        <%= _.template(require('./../includes/signup.html'))() %>
        <section class="models">
          <div class="models-title">
            <div class="models-label">Best online models</div>
            <a class="models-btn btn" href="#">Show all</a>
          </div>
          <%= _.template(require('./../includes/model-list.html'))() %>
          <div class="models-title">
            <div class="models-label">New cam models</div>
            <a class="models-btn btn" href="#">Show all</a>
          </div>
          <%= _.template(require('./../includes/model-list.html'))() %>
          <div class="models-title">
            <div class="models-label">Russian Speaking Models</div>
            <a class="models-btn btn" href="#">Show all</a>
          </div>
          <%= _.template(require('./../includes/model-list.html'))() %>
        </section>
        <%= _.template(require('./../includes/slider.html'))() %>
        <%= _.template(require('./../includes/about.html'))() %>
      </main>

<%= _.template(require('./../includes/tags.html'))() %>
<%= _.template(require('./../includes/footer.html'))() %>
