<%= _.template(require('./../includes/header.html'))() %>
      <main class="main">
        <div class="main__titlebox main__titlebox-empty"></div>
        <div class="userprofile">
          <div class="userprofile__photo">
            <div class="splide splide_up" aria-label="Profile photos">
              <div class="splide__track">
                <ul class="splide__list">
                  <li class="splide__slide">
                    <div class="userprofile__img" style="background-image: url('assets/img/photos/ava.jpg');"></div>
                  </li>
                  <li class="splide__slide">
                    <div class="userprofile__img" style="background-image: url('assets/img/photos/ava.jpg');"></div>
                  </li>
                  <li class="splide__slide">
                    <div class="userprofile__img" style="background-image: url('assets/img/photos/ava.jpg');"></div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="userprofile__status live">
              <svg class="userprofile__status-dot" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <circle cx="6.83" cy="6.83" r="3.5" fill="currentColor"/>
                <circle cx="6.83" cy="6.83" r="6" stroke="currentColor"/>
              </svg>
              <div class="userprofile__status-txt">LIVE</div>
            </div>
          </div>
          <div class="userprofile__info">
            <div class="userprofile__data">
              <div class="userprofile__row">
                <div class="userprofile__name">Lady D, 34</div>
                <div class="userprofile__loc">Sidney ~ 100000km</div>
              </div>
            </div>
            <div class="d-flex flex-column">
              <a class="btn btn_w100 userprofile__btn order-1 order-xl-2" href="#">Claim Her</a>
              <div class="user-profile-about order-2 order-xl-1">
                <div class="user-profile-title user-profile-title_about">About girl</div>
                <p>So good to see you here! My name is Lorena I am 20 years I live in Ukraine My height is 152 centimeters I really love animals, computer games and anime ^^ I dream of doing cosplay I would love to visit Japan and Germany</p>
              </div>
            </div>
          </div>
        </div>
      </main>
<%= _.template(require('./../includes/tags.html'))() %>
<%= _.template(require('./../includes/footer.html'))() %>
