<%= _.template(require('./../includes/header.html'))() %>
      <div id="page-preloader" class="preloader">
        <div class="loader"></div>
      </div>
      <main class="main">
        <div class="main__titlebox">
          <h2 class="text-center">Best online models</h2>
        </div>
        <%= _.template(require('./../includes/model-list.html'))() %>
        <%= _.template(require('./../includes/model-list.html'))() %>
      </main>
<%= _.template(require('./../includes/tags.html'))() %>
<%= _.template(require('./../includes/footer.html'))() %>
