$main-img-width: 398px;
$main-img-height: 296px;

$login-img-width: 410px;
$login-img-height: 304px;

$main-img-width-xl: 660px;
$main-img-height-xl: 480px;

$main-img-width-xxl: 760px;
$main-img-height-xxl: 550px;

$main-img-width-xxxl: 958px;
$main-img-height-xxxl: 710px;

//.header {}
//.header__top {}
//.header__bottom {}
//.sidebar-filter {}
//.cams-count {}
//.cams-online {}
//.cams-offline {}

.ht-links {
  li {}
  .ht-link {}
  svg {}
}

