.logo {
  width: 140px;
  height: 29px;
  margin: 15px 0 17px;
  background-image: url('../img/icons/logo.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  @media (min-width: 1200px) {
    width: 234px;
    height: 46px;
    margin: 19px 0 29px;
  }

  &.noimage {
    display: none;
    @media (min-width: 1200px) {
      display: block;
      background-image: none;
    }
  }

}
