.splide {
  cursor: grab;
  &.is-grab {
    cursor: grabbing;
  }
}

.splide__arrows {
  position: absolute;
  bottom: -60px;
  width: 100%;
  padding: 0 20px;
  // left: 50%;
  // margin-left: -45px;
  @media (min-width: 1200px) {
    //padding: 0;
    bottom: -60px;
  }
}
.splide__arrow {
  border: none;
  background: transparent;
  width: 12px;
  height: 19px;
  padding: 0;
  @media (min-width: 1200px) {
    width: 14px;
    height: 30px;
  }
  svg {
    fill: $bg_light_1;
  }
  &:hover {
    svg {
      fill: $btn_bg_color_hover;
    }
  }
  //&.splide__arrow--prev {}
  &.splide__arrow--next {
    position: absolute;
    right: 20px;
    @media (min-width: 1200px) {
      right: 0;
    }
    svg {
      transform: scaleX(-1) translateX(calc(50% + 5px));
    }
  }
}

.splide__pagination {
  padding-left: 0;
  overflow: hidden;
  height: 15px;
  @media (min-width: 1200px) {
    height: 17px;
  }
}

.splide__pagination__page {
  background: transparent;
  border: 1px solid $font_color;
  border-radius: 100%;
  display: inline-block;
  width: 11px;
  height: 11px;
  margin: 0 6px;
  padding: 0;
  position: relative;
  transition: background-color .2s ease, color .2s ease;
  @media (min-width: 1200px) {
    width: 17px;
    height: 17px;
    margin: 0 10px;
  }

  &.is-active {
    background: $btn_bg_color;
    border-color: $btn_bg_color;
  }
}

.splide_up {
  .splide__pagination {
    display: none;
  }
}

.splide_reviews {
  .splide__pagination {
    display: none;
  }
  .splide__arrows {
    bottom: 50%;
    padding: 0;
  }
  .splide__arrow {
    border: none;
    background: transparent;
    width: 12px;
    height: 19px;
    padding: 0;
    @media (min-width: 1200px) {
      width: 14px;
      height: 30px;
    }
    &.splide__arrow--prev {
      position: absolute;
      left: -22px;
      @media (min-width: 1200px) {
        left: -39px;
      }
    }
    &.splide__arrow--next {
      position: absolute;
      right: -19px;
      @media (min-width: 1200px) {
        right: -39px;
      }
      svg {
        transform: scaleX(-1) translateX(calc(50% + 5px));
      }
    }
  }
}

.cam-sites-reviews {
  background-color: $bg_dark_2;
  padding: 63px 20px 62px;
  overflow: hidden;
  position: relative;
  margin-top: -18px;
  @media (min-width: 360px) {
    margin-top: -9px;
  }
  @media (min-width: 1200px) {
    padding: 78px 64px 62px;
  }
}

.reviews {
  margin: 0 20px 30px;
  @media (min-width: 1200px) {
    margin: 0 0 36px;
  }
}

.review {
  display: block;
  font-family: $font_family2;
  font-weight: 400;
  color: $font_color2;
  line-height: 1;
  background-color: $bg_light_2;
  width: 240px;
  padding: 30px 20px 20px;
  @media (min-width: 1200px) {
    width: 260px;
    padding: 30px 22px 28px;
  }
  &:hover {
    color: $font_color2;
  }
}

.review__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review__img {
  width: 100%;
  height: 48px;
}

.raiting {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $bg_light_5;
  padding: 22px 0 15px;
  @media (min-width: 1200px) {
    padding: 22px 0 25px;
  }
}

.raiting__label {
  font-size: 11px;
  text-transform: uppercase;
}

.stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.star {
  + .star {
    margin-left: 3px;
  }
}

.star__icon {
  width: 16px;
  height: 15px;
}

.review__txt {
  font-size: 12px;
  line-height: 25px;
  padding: 12px 0 30px;
  height: 152px;
  overflow: hidden;
  @media (min-width: 1200px) {
    padding: 20px 0 32px;
  }
}

.review__abtn {
  display: flex;
  align-items: center;
}
.review__abtn-label {
  font-size: 12px;
  text-transform: uppercase;
  padding-right: 7px;
}
.review__abtn-icon {
  width: 8px;
  height: 8px;
}
